
<div class="container-fluid">

{{!-- burger image     --}}
    <div class="row justify-content-sm-center">
        <div class="col-sm-5"></div>
        <div class="col-sm-2">
            <img src="/assets/img/burger.png">
        </div>
        <div class="col-sm-5"></div>
    </div>
    <div class="col-sm"></div>
</div>

{{!-- heading text --}}
<div class="row justify-content-sm-center">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <h3>Eat Da Burger, Baby!</h3>
    </div>
    <div class="col-sm"></div>
</div>

{{!-- display burgers --}}
<div class="container">
    <div class="row ">

        {{!-- not devoured list --}}
        <div class="col-6">
            {{#each burgers}} {{#unless devoured}}
            <div class="row">
                <div class="col-9">
                    <p class="form-control burger_name">
                        {{id}}. {{burger_name}}
                    </p>
                </div>                
                <div class="col-3">
                    <form method="POST" action="/devourBurger/{{id}}">
                        <button type="submit" class="btn btn-primary devourBtn">Devour It!</button>
                    </form>
                </div>
            </div>
            {{/unless}} {{/each}}
        </div>

        {{!-- devoured list --}}
        <div class="col-6">
            {{#each burgers}} {{#if devoured}}
            <div class="col-10">
                <p class="text-left form-control burger_name">
                    {{id}}. {{burger_name}}
                </p>
            </div>
            {{/if}} {{/each}}
        </div>
    </div>
</div>

{{!-- enter a new burger and submit --}}
<div class="row justify-content-sm-center">
    <div class="col-sm"></div>
    <div class="col-sm text-center">
        <form method="POST" action="/createBurger">
            <div class="form-group">
                <textarea class="form-control" id="newBurger" name="newBurger" rows="1"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <br>
            <br>
            <p>Enter a burger you want to eat and click the "Submit" button</p>
        </form>
    </div>
    <div class="col-sm"></div>
</div>